@font-face {
  font-family: 'gotham-pro';
  src: url('../../fonts/GothamPro-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: 'gotham-pro';
  src: url('../../fonts/GothamPro-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
}

@font-face {
  font-family: 'gotham-pro';
  src: url('../../fonts/GothamPro-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
}

@font-face {
  font-family: 'gotham-pro';
  src: url('../../fonts/GothamPro-Black.woff') format('woff');
  font-style: normal;
  font-weight: 900;
  font-display: fallback;
}