:root {
  --black: #262626;
  --black-dark-100: #3F3F3F;
  --purple: #9287D5;
  --purple-light-100: #ABA1EC;
  --purple-light-200: #8579CB;
  --purple-light-300: #8A7ECD;
  --purple-light-900: #F7F9FF;
  --purple-dark-200: #5D558E;
  --font: 'gotham-pro';
  --content-width: 1440px;
  --content-gutter-x: 24px;
  --content-gutter-y: 50px;

  @media screen and (min-width: 1024px) {
    --content-gutter-x: 110px;
  }
}