.section {
  width: 100%;
}

.container {
  width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;
  padding-left: var(--content-gutter-x);
  padding-right: var(--content-gutter-x);
  padding-top: var(--content-gutter-y);
  padding-bottom: var(--content-gutter-y);

  &--gutter-optional {
    padding-left: var(--content-gutter-x-optional);
    padding-right: var(--content-gutter-x-optional);
  }
}
