.title {
  max-width: 483px;
  margin: 0 auto;
  margin-bottom: 16px;
  text-align: center;
}

.subtitle {
  font-size: 16px;
  text-align: center;
  margin-bottom: 28px;
  color: var(--black-dark-100);

  @media screen and (min-width: 600px) {
    margin-bottom: 60px;
  }
}

.row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media screen and (min-width: 600px) {
    flex-direction: row;
  }
}

.col {
  @media screen and (min-width: 600px) {
    height: 445px;
  }

  &--buy {
    width: 100%;
    height: 445px;
    margin-bottom: 26px;

    @media screen and (min-width: 600px) {
      width: 391px;
      margin-right: 37px;
      margin-bottom: 0;
    }
  }
}

.buy {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 20px;
  box-shadow: 4px 4px 20px #ededed;
  border-radius: 20px;

  @media screen and (min-width: 600px) {
    padding: 40px 36px;
  }

  &__text {
    flex-shrink: 0;
  }

  &__icon {
    display: inline-block;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    max-width: 236px;
    margin-bottom: 20px;
    color: var(--black-dark-100);
  }

  &__old-price {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: var(--gray);
    text-decoration: line-through;

    & .buy__icon {
      --size: 17px;
      width: var(--size);
      height: var(--size);
    }
  }

  &__price {
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    color: var(--black);

    & .buy__icon {
      --size: 28px;
      width: var(--size);
      height: var(--size);
    }
  }
}

.time {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 20px;
  margin-top: 50px;
  background: #F5F5FD;
  border-radius: 16px;

  @media screen and (min-width: 600px) {
    padding: 12px 30px;
  }

  &__icon {
    flex-shrink: 0;
  }

  &__text {
    font-size: 16px;
    line-height: 22px;
    margin-left: 20px;
    color: var(--black-dark-100);
  }
}


.info {
  height: 100%;
  padding: 42px 32px;
  background-color: #F5F5FD;
  border-radius: 16px;

  &__title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 32px;
    color: var(--black);
  }
}

.label {
  font-weight: 500;
  font-size: 14px;
  width: fit-content;
  padding: 10px 24px;
  margin-bottom: 24px;
  background-color: white;
  color: var(--purple-light-200);
  border: 1px solid var(--purple-light-200);
  border-radius: 30px;
}

.list {
  &__item {
    position: relative;
    font-size: 16px;
    display: flex;
    align-items: center;
    max-width: 456px;
    color: var(--black);

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &::before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      margin-right: 12px;
      border-radius: 100%;
      background-color: var(--purple-light-200);
    }
  }
}