.button {
  font-weight: 500;
  font-size: 18px;
  width: 201px;
  height: 55px;
  color: white;
  background: linear-gradient(
    93.69deg,
    var(--purple-light-100) 2%,
    var(--purple-light-300) 85%
  );
  border: 0;
  border-radius: 30px;
  cursor: pointer;

  &:hover {
    background: linear-gradient(173deg, #bbb2f3 -21%, #6254b6 77%);
  }

  &:active {
    opacity: 0.8;
  }

  &--small {
    font-size: 16px;
    width: 151px;
    height: 44px;
  }

  &--secondary {
    background: var(--purple-light-200);
    transition: background 0.1s ease-in-out;

    &:hover {
      background: var(--purple-dark-200);
    }
  }

  &--iconed {
    display: flex;
    align-items: center;
    justify-content: center;

    & .text {
      margin-right: 6px;
    }
  }
}
